- more_actions_available = policy(story).edit? && policy(story).scrap?

li.list-inline-item
  = link_to story_path(story) do
    | #{story.comments_count} comments

li.list-inline-item
  = link_to story_path(story) do
    | posted
    span.ml-1(data-controller="time-ago" data-datetime=story.created_at.iso8601)
      = story.created_at

- if user_signed_in? && more_actions_available
  li.list-inline-item •
  li.list-inline-item
    div.dropdown(
      data-controller="dropdown"
      data-dropdown-placement="bottom"
      data-dropdown-trigger="click"
    )
      a(href="javascript:void(0);" data-turbolinks="false" data-target="dropdown.toggle")
        | more

      ul.menu(data-target="dropdown.dropdown")
        - if policy(story).edit?
          li.menu-item
            = link_to 'Edit', edit_story_path(story)

        - if policy(story).scrap?
          li.menu-item
            a(
              href="#"
              data-action="click->story#scrap"
              data-action-path=scrap_api_ujs_story_path(story)
            ) Scrap again
