- presenter.primary_tags.each do |tag|
  li.list-inline-item
    | ##{link_to tag.name, tag.path}

- if presenter.more_tags.any?
  li.list-inline-item
    div.popover.popover-bottom.story-row-tags-more
      a + #{presenter.more_tags.size} more
      .popover-container
        .panel
          .panel-body
            ul.list-inline
              - presenter.more_tags.each do |tag|
                li.list-inline-item
                  | ##{link_to tag.name, tag.path}
