= render 'accounts/head'

.box-t
  .box-t-nav
    ul.tab
      li.tab-item
        = active_link_to 'Hot', account_comments_root_path, active: :exclusive
      li.tab-item
        = active_link_to 'Recent', recent_account_comments_path

  .box-t-body
    = render 'comments/list', comments: @comments,
                              show_reply_link: false,
                              show_story: true

= paginate @comments, theme: :mini_box
