- presenter = CommentPresenter.new(comment,
                                   local_assigns.merge(upvoted_ids: @account_upvoted_comment_ids,
                                                       current_user: current_user))
- account = presenter.account&.decorate

li.comment(
  data-controller="comment"
  data-id=comment.id
  data-parent-id=comment.parent_id
  class=presenter.root_classes
  data-voted=presenter.upvoted?.to_s
)
  .comment-inner
    ul.list-inline.comment-meta(data-action="click->comment#toogleClosed")
      li.list-inline-item.comment-avatar
        = image_tag account.avatar_url(:size_60), class: 'avatar avatar-xs'

      li.list-inline-item.comment-author
        = presenter.linked_account_username

      li.list-inline-item
        = link_to comment do
          span(data-controller="time-ago" data-datetime=comment.created_at.iso8601)
            = comment.created_at

      - if presenter.show_story?
        li.list-inline-item
          | •
        li.list-inline-item
          | on: #{link_to comment.story.title, comment.story}

    / Comment body
    .comment-body.text-comment(data-target="comment.bodyContainer")
      div == presenter.comment.body_html

    / Bottom meta
    ul.list-inline.comment-actions(data-target="comment.actionsContainer")
      li.list-inline-item.comment-actions-vote-btn
        - if presenter.can_vote?
          a.comment-vote-btn(
            data-action="click->comment#toggleVote"
            data-target="comment.voteBtn"
            data-action-path=toggle_vote_api_ujs_comment_path(comment)
          )
            = presenter.vote_button_label

        - else
          .comment-vote-btn = presenter.vote_button_label

      - if comment.children_count.positive?
        li.list-inline-item
            | /

        li.list-inline-item.comment-actions-replies
          | #{comment.children_count} replies


      - if presenter.show_parent_link?
        li.list-inline-item
          | •

        li.list-inline-item
          = link_to 'parent', comment_path(id: comment.parent_id)

      li.list-inline-item
        | •

      - if presenter.show_reply_link?
        li.list-inline-item
          a.comment-reply-btn(data-action="comment#showReply") reply

      - if presenter.show_edit?
        li.list-inline-item
          a.comment-edit-btn(data-action="comment#showEdit") edit

  / Edit form
  .comment-edit-container(
    data-target="comment.editContainer"
    data-action-path=edit_api_ujs_comment_path(comment)
  )

  / Reply form
  .comment-reply-container(
    data-target="comment.replyContainer"
    data-action-path=new_api_ujs_comment_path(story_id: comment.story_id, parent_id: comment.id)
  )

  / Child comments
  ul.comment-children
    - if presenter.show_children?
      - children.each do |comment, children|
        = render 'comments/comment', comment: comment, children: children, show_children: true
