- placeholder ||= ''
- additional_input_targets ||= []
- additional_preview_classes ||= []
- targets = (['markdown-editor.input'] + additional_input_targets).compact.join(' ')

.markdown-editor(data-controller="markdown-editor")
  .markdown-editor-body
    .markdown-editor-body-pane.markdown-editor-body-input.active(data-target="markdown-editor.editor")
      = form.text_area name, class: 'form-input',
                             placeholder: placeholder,
                             data: { target: targets }

    .markdown-editor-body-pane.markdown-editor-body-preview(data-target="markdown-editor.preview" class=additional_preview_classes)
      p Nothing to show

  .markdown-editor-footer
    a(href="https://simplemde.com/markdown-guide" target="_blank")
      | Markdown supported

    a.float-right(href="#" data-action="markdown-editor#togglePreview")
      | Toggle preview
