.comment-children {
  list-style-type: none;
  margin-left: 0;

  &:first-child {
    padding: 0;
    margin: 0;

    > li:last-child {
      margin: 0;
    }
  }

  .comment-children {
    border-left: 3px solid $border-color-light;
    padding-left: .8rem;
    margin-left: 0;
  }
}

.comment {
  border-bottom: 1px solid $border-color;
  padding-bottom: 0.1rem;
  margin-bottom: 0.5rem;

  &-meta {
    color: $gray-color;
    font-size: .7rem;
    margin-bottom: .2rem;
    margin-left: -.1rem;
    padding: .1rem;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .list-inline-item {
      display: inline;
    }

    a {
      color: inherit;
    }
  }

  &:hover {
    > .comment-inner > .comment-meta {
      background: #f9f9f9;
    }

    > .comment-inner > .comment-actions li {
      opacity: 1;
      transition: opacity .1s ease-in;
    }
  }

  &-avatar {
    img { border-radius: 50%; }
  }

  &-author {
    a {
      text-decoration: underline;
      color: #333;
    }
  }

  &-body {
    margin-bottom: .3rem;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &-vote-btn {
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 7px solid #999;
      display: inline-block;
      margin-right: 5px;
      top: -1px;
      position: relative;
    }

    &:hover:before {
      animation: comment-vote-arrow-hover .5s infinite;
    }
  }

  &-actions {
    font-size: .65rem;
    margin-bottom: .8rem;
    color: #999;

    li {
      opacity: 0.2;
    }

    li.comment-actions-vote {
      opacity: 1;
    }

    a {
      cursor: pointer;
      color: inherit;
    }

    li.comment-actions-vote-btn {
      opacity: 1;
    }

    &-reply {
      color: #2d72d9;
    }
  }

  &-new-reply .toast {
    padding: 0.2em .5em;
  }

  &-edit-container {
    display: none;
  }

  &--closed {
    padding-bottom: 0.5rem;

    > .comment-inner {
      & > .comment-meta {
        background: #f5f5f5;
        opacity: 0.5;
        margin-bottom: 0;
      }

      & > .comment-body,
      & > .comment-actions,
      & > .comment-children {
        display: none;
      }
    }

    & > .comment-children,
    & > .comment-reply-container,
    & > .comment-new-replies{
      display: none;
    }
  }

  &--voted {
    & > .comment-inner > .comment-actions .comment-vote-btn {
      color: #c75000;
      font-weight: 600;

      &:hover:before {
        animation: none;
      }

      &:before {
        border-bottom: 7px solid #c75000;
      }
    }
  }

  &--removed {
    > .comment-inner {
      opacity: 0.5;
    }
  }

  &--editing {
    .comment-edit-container {
      display: block;
    }

    & > .comment-inner > .comment-body,
    & > .comment-inner > .comment-actions {
      display: none;
    }
  }
}
