- url = story.is_a?(Stories::Update) ? story_path(story.story) : stories_path
- method = story.is_a?(Stories::Update) ? :put : :post

= simple_form_for story, as: :story,
                         url: url,
                         wrapper: :spectre_vertical_form,
                         method: method,
                         html: { data: { controller: 'story-form' } } do |f|

  - if f.object.errors[:base].any?
    .toast.toast-error
      h5 = f.error_notification
      = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  / Story URL
  .form-group(class=('has-error' if f.object.errors[:url].any?))
    label.form-label URL
    .input-group
      = f.input_field :url, placeholder: 'https://...',
                            class: 'form-input',
                            data: { target: 'story-form.urlInput', action: 'keyup->story-form#handleUrlChange' },
                            readonly: !policy(f.object).update_url?

      button.btn.btn-primary.input-group-btn(
        data-action="click->story-form#fetchTitle"
        data-target="story-form.fetchTitleBtn"
        disabled=!f.object.url.present?
      )
        | Fetch title

    = f.full_error :url, class: 'form-input-hint'
    div.form-input-hint.text-gray
      | Optional when providing description.

  / Story title
  = f.input :title, input_html: { class: 'input-lg',
                    data: { target: 'story-form.titleInput' } },
                    required: false

  / Story tags
  .form-group.story_tag_list(class=('has-error' if f.object.errors[:tag_list].any?))
    = f.label :tag_list, class: 'form-label'
    input(
      data-target="story-form.tagsPhantomInput"
      data-max-tags=Setting.max_story_tags
      value=f.object.tag_list
    )

    = f.input_field :tag_list, as: :hidden,
                               hint: 'Comma-separated list of tags',
                               data: { target: 'story-form.tagsInput' }

    = f.full_error :tag_list, class: 'form-input-hint'

  / Story description
  label.form-label(for="story_description") Description
  = render 'shared/markdown_editor', form: f, name: :description

  p.form-input-hint.text-gray
    | Optional when submitting a URL. Not for summarizing the post.

  = f.submit class: 'btn btn-primary'
