.box-t {
  @apply .bg-white .shadow-sm .rounded-sm .mb-3;

  &-body {
    @apply .p-3;
  }

  &-nav {
    @apply .pl-2 .text-xs .border-b .border-grey-light;

    font-size: 0.7rem;

    .tab {
      @apply .border-b-0;

      margin-bottom: -1px;
    }

    .tab-item a {
      @apply .m-0;

      padding: 0.6rem 0.6rem 0.5rem 0.6rem !important;
    }

    .tab .tab-item.active a,
    .tab .tab-item a.active {
      @apply .border-indigo .text-indigo .font-semibold;
    }

    .tab .tab-item a:focus,
    .tab .tab-item a:hover {
      @apply .text-indigo-dark;
    }
  }
}
