= render 'accounts/head'

.box-t
  .box-t-nav
    ul.tab
      li.tab-item
        = active_link_to 'Hot', account_path, active: :exclusive
      li.tab-item
        = active_link_to 'Recent', recent_stories_account_path

  = render 'stories/list', stories: @stories

= paginate @stories, theme: :mini_box
