= render 'tags/head'

.box-t
  .box-t-nav
    ul.tab
      li.tab-item
        = active_link_to 'Hot', tag_stories_path, active: :exclusive
      li.tab-item
        = active_link_to 'Recent', recent_tag_stories_path

  = render 'stories/list', stories: @stories

= paginate @stories, theme: :mini_box
