.box-t
  .box-t-nav
    ul.tab
      li.tab-item
        = active_link_to 'Hot', :dashboard_followed_accounts, active: :exclusive
      li.tab-item
        = active_link_to 'Recent', :recent_dashboard_followed_accounts

  = render 'stories/list', stories: @stories

  - if current_account.following.count.zero?
    .empty.empty-transparent
      .empty-icon
        | &times;
      p.empty-title.h5 Nothing to show
      p You're not following any accounts yet.

  - elsif @stories.empty?
    .empty.empty-transparent
      .empty-icon
        | &times;
      p.empty-title.h5 Nothing to show
      p Accounts you follow have not published anything yet.

= paginate @stories, theme: :mini_box
