.dropdown.dropdown-right.navbar-main-profile(
  data-controller="dropdown"
  data-dropdown-placement="bottom-end"
  data-dropdown-trigger="mouseenter"
)
  a.btn.btn-link(href="javascript:void(0);" data-target="dropdown.toggle")
    = image_tag current_account.avatar_url(:size_60), class: 'avatar'

  ul.menu(data-target="dropdown.dropdown")
    li.menu-item
      .tile.tile-centered
        .tile-icon
          = image_tag current_account.avatar_url(:size_60), class: 'avatar'
        .tile-content = current_account

    li.divider
    li.menu-item
      = link_to 'My Profile', current_account.path
    li.menu-item
      = link_to 'Settings', settings_profile_path

    - if current_user.is_admin?
      li.menu-item
        = link_to 'Admin', edit_admin_settings_path

    li.divider
    li.menu-item
      = link_to 'Sign-out', destroy_user_session_path, data: { method: "delete" }
