doctype html
html
  head
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    = csrf_meta_tags
    = csp_meta_tag

  body
    = render 'shared/navbar'

    .container
      .columns
        .col-3
          ul.nav
            li.nav-item(class=('active' if params[:controller] =~ /^settings/))
              a(href=settings_profile_path) Settings
              ul.nav
                = active_link_to 'Edit profile', settings_profile_path, wrap_tag: :li, wrap_class: 'nav-item'

            - if current_user.is_admin?
              li.nav-item(class=('active' if params[:controller] =~ /^admin/))
                a(href=edit_admin_settings_path) Administration
                ul.nav
                  = active_link_to 'Site settings', edit_admin_settings_path, wrap_tag: :li, wrap_class: 'nav-item'
                  li.nav-item
                    = link_to 'Sidekiq', sidekiq_path

        .col-9
          = render 'shared/flash'
          = yield

    = render 'shared/footer'
