.box-t.account-head.mb-3
  .box-t-body.p-4
    .columns
      .column.col-xs-12.col-sm-6
        .tile
          .tile-icon
            .avatar.avatar-xl
              = image_tag @account.avatar_url(:size_60)

          .tile-content
            p.tile-title = @account.display_name
            p.tile-subtitle.text-gray = @account

        .account-head-actions
          - if current_account == @account
            a.btn.btn-secondary.btn-wider.btn-sm.btn-edit-profile(href=settings_profile_path)
              i.fe.fe-edit.mr-2
              | Edit your profile

          - else
            = render 'shared/follow_btn', presenter: FollowButtonPresenter.new(current_account, @account)

      .column.col-xs-12.col-sm-6
        ul.statistics
          li.statistics-item(title="#{@account.posts_karma} stories / #{@account.comments_karma} comments")
            span.statistics-item-major
              = @account.posts_karma + @account.comments_karma
            span.statistics-item-minor Karma
          li.statistics-item
            span.statistics-item-major = @account.followers_count
            span.statistics-item-minor Followers
          li.statistics-item
            span.statistics-item-major = @account.following_count
            span.statistics-item-minor Following

        .account-head-bio
          = @account.bio_html

  ul.tab.tab-block
    li.tab-item
      = active_link_to account_path, active: [['accounts/stories']] do
        | Stories
        span.label.label-rounded.label-sm.ml-1
          = @account.stories_count

    li.tab-item
      = active_link_to account_comments_root_path, active: [['accounts/comments']] do
        | Comments
        span.label.label-rounded.label-sm.ml-1
          = @account.comments_count
